*{
    box-sizing:border-box;
}
body {
    margin:0;
    font-size: 0.6vw;

}
nav {
    position: absolute;
    top: "your percentage";
    left:0;
    right:0;
    margin:0 auto;
    border: solid;
}
ul {
    margin:0;
    padding:0;
    list-style:none;
}
li {
    float:left;
}
.wrapper{
    width:100%;
    margin:0 auto;
    position: relative;
}
.container {
    margin:auto;
    overflow:auto;
}
.imagegal {
    margin:1vw;
    border: solid #ccc;
    float:left;
}
.buttongal {
    margin:1vw;
    border: solid #ccc;
    float:left;
}
.gridgal button{
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
}

.container {
    height: auto;
    width: auto;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#color-input {
    display: none;
}
#color-label {
    margin-left: 0px;
    position: absolute;
    height: 30px;
    width: 50px;
} 
#buffCanv {
    display:none;
}

.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}
